[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
notebook = "*"
matplotlib = "*"
pyinvoke = "*"

[packages]
pandas = "*"
nltk = "*"

[requires]
python_version = "3.6"
